<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionOne</key>
	<array>
		<dict>
			<key>warn</key>
			<string>请选择头像</string>
			<key>title</key>
			<string>头像</string>
			<key>tag</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>warn</key>
			<string>请填写昵称</string>
			<key>title</key>
			<string>昵称</string>
			<key>tag</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>warn</key>
			<string>请选择性别</string>
			<key>title</key>
			<string>性别</string>
			<key>tag</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>sectionTwo</key>
	<array>
		<dict>
			<key>warn</key>
			<string></string>
			<key>title</key>
			<string>注册电话</string>
			<key>tag</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>warn</key>
			<string></string>
			<key>title</key>
			<string>真实姓名</string>
			<key>tag</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>warn</key>
			<string></string>
			<key>title</key>
			<string>常用地址</string>
			<key>tag</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
